# Output
/generate_images/output
/generate_images/backup
/format_address_list/output.csv
/create_mock_metadata

# Node
/node_modules

# This is just a failsafe so we're not comitting art to public git
*.png