# Output
/generate_images/output
/generate_images/backup
/format_address_list/output.csv
/format_address_list/report.json
/create_mock_metadata/output

# Node
/node_modules

# This is just a failsafe so we're not comitting art to public git
*.png